@model IEnumerable<SortWasteVictoria_WebApp.Models.Garbage>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">WELCOME</h1>
    <p>Learn about waste disposal practices in Victoria.</a>.</p>
</div>

<div class="text-center">
    <form asp-controller="Garbages" asp-action="Info">
        <p>
            Garbage: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]"/>
            <input type="submit" value="Search" class="btn btn-primary"/>
        </p>
    </form>
</div>

@*<div>
    <h2>You have chosen : @Html.DisplayFor(model => model)</h2>
    <p>Bin Number: @Html.DisplayFor(modelItem => item.Bin.BinId)</p>
</div>*@