@model IEnumerable<SortWasteVictoria_WebApp.Models.Garbage>

@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">WELCOME</h1>
    <p>Learn about waste disposal practices in Victoria.</p>
    <p>!!!See which items go into which bin!!!</p>
</div>
<br />
<div class="content">
    <p>The correct disposal of waste is crucial for the sustainability of our planet. 
        By using color-coded bins for different types of waste, 
        such as green for organic waste, yellow for recyclables etc,
        we can help ensure that each material is processed in the most environmentally friendly way possible. 
        Remember, every small action counts towards a cleaner and greener future!</p>
</div>
<style>
    .content {
        max-width: 500px;
        margin: auto;
    }
</style>
<br />
<div class="text-center">
    <form asp-controller="Garbages" asp-action="Info">
        <p>Please enter a waste item below:</p>
        <p>
            <input type="text" id="garbageName" name="SearchString" value="@ViewData["CurrentFilter"]"/>
            <input type="submit" value="Search" class="btn btn-primary"/>
        </p>
    </form>
</div>



@section Scripts{
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {            
            $("#garbageName").autocomplete({
                source: '/Garbages/Search'                  
            });
        });
    </script>
}

@*<div>
    <h2>You have chosen : @Html.DisplayFor(model => model)</h2>
    <p>Bin Number: @Html.DisplayFor(modelItem => item.Bin.BinId)</p>
</div>*@