
@{
    ViewData["Title"] = "General Sorting Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .row {
        border-bottom: 1px solid #ccc;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    h2 {
        margin-top: 70px;
    }

    .bullet-points {
        -webkit-columns: 2;
        -moz-columns: 2;
        columns: 2;
        column-gap: 20px;
    }
    .justify{
        text-align: justify
    }
</style>

<h1 class="text-center">General Sorting Information</h1>

<div class="row">
    <div class="col-md-6">
        <img src="https://drive.google.com/uc?export=view&id=100GYO3GWmXBjgCgjOZSAPaflpRunpDjB" alt="Purple Bins" width="400" height="630"/>
    </div>
    <div class="col-md-6">
        <h2>Purple Bins</h2>
        <p>Items which are <b>accepted</b> in this bin are: </p>
        <ul class="bullet-points">
            <li>Jars that held food</li>
            <li>Drink bottles</li>
            <li>Beauty product jars</li>
            <li>Medicine/vitamin bottles</li>
        </ul>
        <br />
        <p>Items which are <b>not accepted</b> in this bin are: </p>
        <ul class="bullet-points">
            <li>Lids from bottles and jars</li>
            <li>Window glass</li>
            <li>Broken drinking glasses</li>
            <li>Crockery</li>
        </ul>
        <p>Collection Routine: Every <b>four</b> weeks.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-6 order-md-2">
        <div class="text-center">
            <img src="https://drive.google.com/uc?export=view&id=1043VfiPwJBzUfhEDtYnjvV5snEdPjoW3" alt="Green Bins" width="400" height="630" />
        </div>
    </div>
    <div class="col-md-6 order-md-1">
        <h2>Green Bins</h2>
        <p>Items which are <b>accepted</b> in this bin are: </p>
        <ul class="bullet-points">
            <li>Baked goods</li>
            <li>Cakes and pastries</li>
            <li>Eggs and eggshells</li>
            <li>Spoiled food</li>
            <li>Take-away foods</li>
            <li>Vegetables</li>
        </ul>
        <br />
        <p>Items which are <b>not accepted</b> in this bin are: </p>
        <ul class="bullet-points">
            <li>Cigarette butts</li>
            <li>Coffee filters</li>
            <li>Household garbage</li>
            <li>Liquids</li>
            <li>Paper bags</li>
            <li class="justify">Pizza boxes (place clean parts in the recycle bin. The greasy part can go in FOGO but just one or two please)</li>
        </ul>
        <p>Collection Routine: <b>Weekly</b> in urban areas. <b>Fortnightly</b> in rural areas.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <img src="https://drive.google.com/uc?export=view&id=1-rQg-ve_U_9Ib0IGIRURitxTfc4m7EEB" alt="Yellow Bins" width="400" height="630" />
    </div>
    <div class="col-md-6">
        <h2>Yellow Bins</h2>
        <p>Items which are <b>accepted</b> in this bin are: </p>
        <p>Clean, rigid plastics numbered 1, 2 or 5, which typically includes,</p>
        <ul class="bullet-points">
            <li>Milk and other plastic drink bottles</li>
            <li>Yoghurt, ice cream and margarine tubs</li>
            <li>Detergent and shampoo bottles</li>
            <li>Takeaway containers</li>
        </ul>
        <p>Paper, cardboard and metals, which typically includes,</p>
        <ul class="bullet-points">
            <li>Clean, empty pizza boxes</li>
            <li>Boxes - uncoated</li>
            <li>Tins and cans</li>
            <li>Drink cans</li>
        </ul>
        <br />
        <p>Items which are <b>not accepted</b> in this bin are: </p>
        <ul class="bullet-points">
            <li>Glass</li>
            <li>Small plastic lids</li>
            <li>Takeaway coffee cups and lids</li>
            <li>Cardboard Milk or juice cartons</li>
        </ul>
        <p>Collection Routine:<b> Fortnightly</b></p>
    </div>
</div>

<div class="row">
    <div class="col-md-6 order-md-2">
        <div class="text-center">
            <img src="https://drive.google.com/uc?export=view&id=1-yXSn7TtqPzBW342tf5TU4Swlfk1MnvS" alt="Red Bins" width="400" height="630" />
        </div>
    </div>
    <div class="col-md-6 order-md-1">
        <h2>Red Bins</h2>
        <p>Items which are <b>accepted</b> in this bin are: </p>
        <ul class="bullet-points">
            <li>Broken crockery, glass and mirrors</li>
            <li>Used dish cloths and sponges</li>
            <li>Sanitary and incontinence products</li>
            <li>Disposable razors</li>
            <li class="justify">Plastic bags, garbage bags, clingwrap and other soft plastic packaging</li>
        </ul>
        <br />
        <p>Items which are <b>not accepted</b> in this bin are: </p>
        <ul class="bullet-points">
            <li>Chemicals</li>
            <li>E-Waste</li>
            <li>Paints</li>
            <li>Liquids</li>
            <li>Concrete, bricks, asbestos or building rubble</li>
            <li class="justify">Hazardous or medical waste such as sharps or sharps containers</li>
        </ul>
        <p>Collection Routine:<b> Fortnightly</b></p>
    </div>
</div>

<div class="text-center">
    <p>All Information and Images are gathered from:</p>
    <p>https://www.mitchellshire.vic.gov.au/news/our-bins-are-changing</p>
    <p>https://www.surfcoast.vic.gov.au/Property/Waste-and-recycling/Bins</p>
</div>