
@{
    ViewData["Title"] = "General Sorting Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .row {
        border-bottom: 1px solid #ccc;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    h2 {
        margin-top: 70px;
    }
</style>

<h1 class="text-center" style="margin-bottom: 20px">General Sorting Information</h1>

<div class="row">
    <div class="col-md-6">
        <img src="https://drive.google.com/uc?export=view&id=100GYO3GWmXBjgCgjOZSAPaflpRunpDjB" alt="Purple Bins" width="400" height="600" />
    </div>
    <div class="col-md-6">
        <img src="https://drive.google.com/uc?export=view&id=10zD1Z8ETiKQXAFy0WHMYDC1bXOe64H2j" alt="Purple Bins Yes" width="500" height="200" style="margin-top: 70px;" />
        </br>
        <img src="https://drive.google.com/uc?export=view&id=10yCOIeF3GR3LZ6VvwvFenTZtn1D45eC3" alt="Purple Bins No" width=500" height="200" style="margin-top: 20px; margin-bottom: 20px;" />
        <p>Collection Routine: Every <b>four</b> weeks.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-6 order-md-2">
        <div class="text-center">
            <img src="https://drive.google.com/uc?export=view&id=1043VfiPwJBzUfhEDtYnjvV5snEdPjoW3" alt="Green Bins" width="400" height="600" />
        </div>
    </div>
    <div class="col-md-6 order-md-1">
        <img src="https://drive.google.com/uc?export=view&id=10llKHZL6DjN1mTjsxpoV0Qqfnqi6SI0y" alt="Green Bins Yes" width="500" height="200" style="margin-top: 70px;" />
        </br>
        <img src="https://drive.google.com/uc?export=view&id=11-g8aHjFCoib7HLUyLHMP4K1weyK13gQ" alt="Green Bins No" width=500" height="200" style="margin-top: 20px; margin-bottom: 20px;" />
        <p>Collection Routine: <b>Weekly</b> in urban areas. <b>Fortnightly</b> in rural areas.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <img src="https://drive.google.com/uc?export=view&id=1-rQg-ve_U_9Ib0IGIRURitxTfc4m7EEB" alt="Yellow Bins" width="400" height="600" />
    </div>
    <div class="col-md-6">
        <img src="https://drive.google.com/uc?export=view&id=10pWGyBghcPrGlO0Lg_aDCOq6Y7jygI3t" alt="Yellow Bins Yes" width="500" height="200" style="margin-top: 70px;" />
        </br>
        <img src="https://drive.google.com/uc?export=view&id=10nAaQai4Evk-rQ2ZUHtrkMSlO3d6ala5" alt="Yellow Bins No" width=500" height="200" style="margin-top: 20px; margin-bottom: 20px;" />
        <p>Collection Routine:<b> Fortnightly</b></p>
    </div>
</div>

<div class="row">
    <div class="col-md-6 order-md-2">
        <div class="text-center">
            <img src="https://drive.google.com/uc?export=view&id=1-yXSn7TtqPzBW342tf5TU4Swlfk1MnvS" alt="Red Bins" width="400" height="600" />
        </div>
    </div>
    <div class="col-md-6 order-md-1">
        <img src="https://drive.google.com/uc?export=view&id=10vFTn2Lxr8GVYJJQkt_tui7sham2LgV9" alt="Red Bins Yes" width="500" height="200" style="margin-top: 70px;" />
        </br>
        <img src="https://drive.google.com/uc?export=view&id=10tTGCV1JXDgzbCMcOnnQFSgKnrVgEwFq" alt="Red Bins No" width=500" height="200" style="margin-top: 20px; margin-bottom: 20px;" />
        <p>Collection Routine:<b> Fortnightly</b></p>
    </div>
</div>

<div class="row">
    <p>All Information and Images are gathered from:</p>
    <div class="col-md-6">
        <div class="text-center">
            <a href="https://www.mitchellshire.vic.gov.au/news/our-bins-are-changing">
                <div style="display: flex; align-items: center; justify-content: center; height: 100px; cursor: pointer;">
                    <div style="padding: 5px;">
                        <h3 style="margin-top: 0;">Our Bins Are Changing</h3>
                        <p>Mitchell Shire Council</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-6">
        <div class="text-center">
            <a href="https://www.surfcoast.vic.gov.au/Property/Waste-and-recycling/Bins">
                <div style="display: flex; align-items: center; justify-content: center; height: 100px; cursor: pointer;">
                    <div style="padding: 5px;">
                        <h3 style="margin-top: 0;">Waste and Reclying Bins</h3>
                        <p>Surfcoast Shire</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
